workflows/EF6HRWxAiTtpJl6o.json
{
  "active": false,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-19T19:29:42.535Z",
  "id": "EF6HRWxAiTtpJl6o",
  "meta": {
    "templateId": "1277"
  },
  "name": "Send a daily summary of your Google Calendar events to Slack 3",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": "xxxxx@gmail.com",
        "returnAll": true,
        "options": {}
      },
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        380,
        340
      ],
      "typeVersion": 1,
      "id": "f4acac17-880f-4985-8f6a-924bc1a36eee"
    },
    {
      "parameters": {
        "functionCode": "var date = new Date().toISOString();\nvar day = new Date().getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\nitems[0].json.date_today = date;\nitems[0].json.day_today = weekday[day];\n\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "position": [
        380,
        540
      ],
      "notesInFlow": false,
      "typeVersion": 1,
      "id": "1caf0fbf-ec7d-423a-95cb-60dcb8107378"
    },
    {
      "parameters": {
        "value": "={{$json[\"start\"][\"dateTime\"]}}",
        "dataPropertyName": "Event Start Date Only",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {
          "toTimezone": "Asia/Qatar"
        }
      },
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        560,
        340
      ],
      "typeVersion": 1,
      "id": "3520e3aa-1fba-4770-ac2b-e6d3eeba756d"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "= {{$json[\"Event Date\"]}}",
              "value2": "= {{$json[\"Today's Date\"]}}"
            }
          ],
          "dateTime": []
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        1260,
        460
      ],
      "typeVersion": 1,
      "id": "f7755abf-ab02-4ad8-bf48-6a870182a4a5"
    },
    {
      "parameters": {
        "value": "={{$json[\"date_today\"]}}",
        "dataPropertyName": "Today's Date",
        "custom": true,
        "toFormat": "DD/MM/YYYY",
        "options": {
          "toTimezone": "Asia/Qatar"
        }
      },
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        720,
        540
      ],
      "typeVersion": 1,
      "id": "6042ea90-48d3-4f0a-8b29-77bfa4d1c41f"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Event Name",
              "value": "={{$json[\"summary\"]}}"
            },
            {
              "name": "Event Date",
              "value": "={{$json[\"Event Start Date Only\"]}}"
            },
            {
              "name": "Today's Date",
              "value": "="
            },
            {
              "name": "Gcal URL",
              "value": "={{$json[\"htmlLink\"]}}"
            },
            {
              "name": "Location",
              "value": "={{$json[\"location\"]}}"
            },
            {
              "name": "Start Time",
              "value": "={{$json[\"start\"][\"dateTime\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        760,
        340
      ],
      "typeVersion": 1,
      "id": "7b97df82-d7a6-43ea-9414-2f554e90f5a4"
    },
    {
      "parameters": {
        "mode": "multiplex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1040,
        460
      ],
      "typeVersion": 1,
      "id": "d0312bb0-3325-496d-8c87-1169e6a251ea"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [],
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"Event Name\"]}}"
            },
            {
              "name": "Time",
              "value": "={{$json[\"Start Time\"]}}"
            },
            {
              "name": "URL",
              "value": "={{$json[\"Gcal URL\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "position": [
        1480,
        440
      ],
      "typeVersion": 1,
      "id": "43173fc5-d411-45bd-8113-6bbbdb34ecd8"
    },
    {
      "parameters": {
        "value": "={{$json[\"Time\"]}}",
        "dataPropertyName": "Time",
        "custom": true,
        "toFormat": "HH:mm",
        "options": {
          "toTimezone": "Asia/Qatar"
        }
      },
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1640,
        440
      ],
      "typeVersion": 1,
      "id": "3391ab20-7cc8-451f-add1-f54c48ea3cb1"
    },
    {
      "parameters": {
        "functionCode": "// Create our Slack message\n// This will output a list of Ticket URLs with the status and the subject\n// 12345 [STATUS] - Ticket Subject\nlet message = \"*Hello , Please find below a list of your meetings for today*. \\n\";\n\n// Loop the input items\nfor (item of items) {\n  // Append the ticket information to the message\n  message += \"*\" + item.json.Name +' @ '+ item.json.Time + \"\\n*  - \" + item.json.URL + \"\\n\"; \n}\n\n// Return our message\nreturn [{json: {message}}];\n"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "position": [
        1800,
        440
      ],
      "typeVersion": 1,
      "id": "725868b8-7272-47f1-a7b9-acbf824bb117"
    },
    {
      "parameters": {
        "channel": "virtual-assistant",
        "text": "={{$json[\"message\"]}}",
        "otherOptions": {},
        "attachments": []
      },
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2000,
        440
      ],
      "typeVersion": 1,
      "id": "0cbd0b67-081d-44ba-954f-64a37d5401ea",
      "credentials": {
        "slackApi": {
          "id": "yU7RxPAK1zAlbH23",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 6
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        100,
        440
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "id": "741cc214-cbae-45f0-bee7-0e685361c8ab"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-19T19:30:23.000Z",
  "versionId": "3cbd51ae-d6f7-45c9-bf0f-08b8d8e39d30"
}