workflows/g5idEnknn9XKlGky.json
{
  "active": false,
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "DateConverter": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetClientsTool": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ClockifyBlockia": {
      "main": [
        [
          {
            "node": "Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProjectsTool": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Time Entry": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Update Time Entry": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get All Time Entries": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create New Time Entry": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Current loggedin user": {
      "ai_tool": [
        [
          {
            "node": "ClockifyBlockia",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-18T08:23:00.575Z",
  "id": "g5idEnknn9XKlGky",
  "meta": null,
  "name": "Time_logging_on_Clockify_using_Slack",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "51576a99-da18-4aeb-976c-d7090ae3e1a5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        520,
        40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "13a8b35b-6b36-4576-8da7-dc1afab25ab2",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        1400,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "toolDescription": "Call this workflow whenever you need to work with Clockify for create a new time entry.",
        "method": "POST",
        "url": "=https://api.clockify.me/api/v1/workspaces/6735b75fe9244e75e2123fba/time-entries",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clockifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"billable\": true,\n  \"description\": \"{logDescription}\",\n  \"end\": \"{endTime}\",\n  \"projectId\": \"{projectId}\",\n  \"start\": \"{startTime}\",\n  \"type\": \"REGULAR\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "logDescription",
              "description": "Description of the time log entry",
              "type": "string"
            },
            {
              "name": "endTime",
              "description": "Represents an end date of the time log in yyyy-MM-ddThh:mm:ssZ format.",
              "type": "string"
            },
            {
              "name": "projectId",
              "description": "Represents project unique identifier across the system.",
              "type": "string"
            },
            {
              "name": "startTime",
              "description": "Represents a start date of the time log in yyyy-MM-ddThh:mm:ssZ format.",
              "type": "string"
            }
          ]
        }
      },
      "id": "cb9319e1-a56d-4413-8884-3aeebf1837bd",
      "name": "Create New Time Entry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        1280,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Call this tool whenever you need to get or filter clients on Clockify, especially if you need to find client id by name.",
        "url": "=https://api.clockify.me/api/v1/workspaces/6735b75fe9244e75e2123fba/clients",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clockifyApi",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "name",
              "valueProvider": "modelOptional"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "name",
              "description": "Filters client results that matches with the string provided in their client name.",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "id,name,workspaceId"
      },
      "id": "972ca719-e7db-4881-a43b-d98511a79221",
      "name": "GetClientsTool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        980,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Call this tool whenever you need to get time entries on Clockify for a given user identified by its user Id (not name).\nBy default fetch entries from the last month if no dates are provided.",
        "url": "=https://api.clockify.me/api/v1/workspaces/6735b75fe9244e75e2123fba/user/{userId}/time-entries",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clockifyApi",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "start",
              "valueProvider": "fieldValue",
              "value": "{startTime}"
            },
            {
              "name": "end",
              "valueProvider": "fieldValue",
              "value": "{endTime}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "startTime",
              "description": "Represents start date in yyyy-MM-ddThh:mm:ssZ format. Optional",
              "type": "string"
            },
            {
              "name": "endTime",
              "description": "Represents end date in yyyy-MM-ddThh:mm:ssZ format. Optional",
              "type": "string"
            },
            {
              "name": "userId",
              "description": "Id of the user that is logged in, for which we are retrieving time logs",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "id,description,userId,projectId,workspaceId,timeInterval"
      },
      "id": "0c62ba67-8817-4837-a216-915c11d167d5",
      "name": "Get All Time Entries",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        1120,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Gel the current logged in user that you are operating from. Use it to get user profikle information, especially its id, email, name etc.",
        "url": "https://api.clockify.me/api/v1/user",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clockifyApi",
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "id,email,name"
      },
      "id": "e471a99a-fb37-49ab-b74f-93e0b70452c9",
      "name": "Current loggedin user",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        1520,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Call this tool whenever you need to get projects on Clockify. \nThis is a tool to use if you want to find all projects and project ids for the logged in user.\n\nOptionally you can filter projects by clients or by project names.",
        "url": "=https://api.clockify.me/api/v1/workspaces/6735b75fe9244e75e2123fba/projects",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clockifyApi",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "name",
              "valueProvider": "fieldValue",
              "value": "{projectName}"
            },
            {
              "name": "clients",
              "valueProvider": "fieldValue",
              "value": "{clientId}"
            }
          ]
        },
        "placeholderDefinitions": {
          "values": [
            {
              "name": "projectName",
              "description": "Project name; not project ID; not client ID; can be empty",
              "type": "string"
            },
            {
              "name": "clientId",
              "description": "Client unique identifier, this is not a name of the client; so if you fail you need to try again with client id; can be empty",
              "type": "string"
            }
          ]
        },
        "optimizeResponse": true,
        "fieldsToInclude": "selected",
        "fields": "id,name,currency,clientId,workspaceId"
      },
      "id": "a16aea07-6341-4d0c-819b-f841a6fff003",
      "name": "GetProjectsTool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        820,
        40
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Call this workflow whenever you need to work with Clockify for update an existing time entry.",
        "method": "PUT",
        "url": "=https://api.clockify.me/api/v1/workspaces/6735b75fe9244e75e2123fba/time-entries/{id}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clockifyApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"billable\": true,\n  \"description\": \"{logDescription}\",\n  \"end\": \"{endTime}\",\n  \"projectId\": \"{projectId}\",\n  \"start\": \"{startTime}\",\n  \"type\": \"REGULAR\"\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "logDescription",
              "description": "Description of the time log entry",
              "type": "string"
            },
            {
              "name": "endTime",
              "description": "Represents an end date of the time log in yyyy-MM-ddThh:mm:ssZ format.",
              "type": "string"
            },
            {
              "name": "projectId",
              "description": "Represents project unique identifier across the system.",
              "type": "string"
            },
            {
              "name": "startTime",
              "description": "Represents a start date of the time log in yyyy-MM-ddThh:mm:ssZ format.",
              "type": "string"
            },
            {
              "name": "id",
              "description": "Id of the time entry",
              "type": "string"
            }
          ]
        }
      },
      "id": "ab47da58-9f3e-4d29-bceb-2c9fcd13594e",
      "name": "Update Time Entry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        1680,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "toolDescription": "Call this workflow whenever you need to work with Clockify for deleating an existing time entry.",
        "method": "DELETE",
        "url": "=https://api.clockify.me/api/v1/workspaces/6735b75fe9244e75e2123fba/time-entries/{id}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clockifyApi",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "id",
              "description": "Id of the time entry",
              "type": "string"
            }
          ]
        }
      },
      "id": "8d5042c8-27bc-4e3b-b96e-2b6a04121be4",
      "name": "Delete Time Entry",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "position": [
        1840,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "name": "DateToMilisecondsConvertorTool",
        "description": "Call this tool to convert dates from format to miliseconds.\nExample 2024-12-02T21:04:23.623Z date is converted into time miliseconds.\n\nthis ideally is combinated with calculator to calculate duration periods.",
        "jsCode": "// Example: convert the incoming query to uppercase and return it\nreturn (new Date(query)).getTime() "
      },
      "id": "fe589718-7d5d-4800-a5a3-d79d6a1e6c8b",
      "name": "DateConverter",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "position": [
        1980,
        20
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an smart assistant assisting engineers in the time logging management on Clockify for an agency called Blockia Labs using conversational chat system. Be precise and concise, you are engineers best friend copilot.\nYour goals is to guide and help engineers in the logging process; by proactively guiding them one step again in the process and giving them options and proactive guidance, not passively waiting only on instructions.\n\nNote that todays day is {{ $now.toUTC() }}\n\nFor date duration calculation use the date convertor tool along with the calculator.\nUse step by step guidance and reasoning for this process.\n\nFor creates, updates and delete operations always double confirm with the user. Especially when deleting, make the confirmation one by one since deleting is critical ops.\n\nMake sure the descriptions are checked, ethic and gramatically correct. \nMake sure there is no overlap in time entries or logging when one user is working on more projects at the same time. \nReturn a simple mardown resposne (no bold or ****)",
          "passthroughBinaryImages": true
        }
      },
      "id": "1838a192-66dc-4958-a510-332c23b11f62",
      "name": "ClockifyBlockia",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1100,
        -300
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "watchWorkspace": true,
        "options": {
          "resolveIds": true
        }
      },
      "id": "6b11357b-0d3c-4f46-a345-ab163daef8ec",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        480,
        -420
      ],
      "webhookId": "cc2d1f3f-c366-48a5-9285-b424f00504cf",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4db57785-2614-4129-9493-2ddba9ecbb94",
      "name": "Execution Data",
      "type": "n8n-nodes-base.executionData",
      "position": [
        700,
        -420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.user }}",
        "contextWindowLength": 10
      },
      "id": "9f31ef1f-28a6-4020-959c-3e39afa52c65",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        680,
        40
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Execution Data').item.json.channel }}"
        },
        "timestamp": "={{ $json.ts }}",
        "name": "+1"
      },
      "id": "f6160c28-257a-4f9c-b96f-7c4235de7a02",
      "name": "Add reaction",
      "type": "n8n-nodes-base.slack",
      "position": [
        980,
        -420
      ],
      "webhookId": "81d9777e-2ea1-4938-966a-e2fe491d0bba",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Execution Data').item.json.channel }}"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "link_names": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Execution Data').item.json.ts }}"
            }
          },
          "mrkdwn": true,
          "unfurl_links": false
        }
      },
      "id": "db4e86ae-8a78-4bca-9b5a-91a8a5aa1928",
      "name": "Send reply",
      "type": "n8n-nodes-base.slack",
      "position": [
        1620,
        -300
      ],
      "webhookId": "81d9777e-2ea1-4938-966a-e2fe491d0bba",
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T08:23:00.575Z",
  "versionId": "cc138193-f0e3-4304-9120-8c2da36c66ac"
}