workflows/Get DNS entries of any domain with uProc.json
{
  "active": false,
  "connections": {
    "Create Domain Item": {
      "main": [
        [
          {
            "node": "Get DNS records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Create Domain Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-26T07:44:18.820Z",
  "id": "hKJL37T1WRvsrgXc",
  "meta": null,
  "name": "Get DNS entries of any domain with uProc",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "da94d46e-8a05-48af-8a0e-54515f3be47f"
    },
    {
      "parameters": {
        "functionCode": "item.domain = \"n8n.io\";\nreturn item;"
      },
      "name": "Create Domain Item",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        590,
        240
      ],
      "typeVersion": 1,
      "id": "95f1d510-9377-492b-98f0-6f345e91b0b7"
    },
    {
      "parameters": {
        "group": "internet",
        "tool": "getDomainRecords",
        "domain": "= {{$node[\"Create Domain Item\"].json[\"domain\"]}}",
        "additionalOptions": {}
      },
      "name": "Get DNS records",
      "type": "n8n-nodes-base.uproc",
      "position": [
        790,
        240
      ],
      "typeVersion": 1,
      "id": "d604aef5-4399-4345-824b-40171a3221af"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-09-26T07:44:18.820Z",
  "versionId": "7b469a45-cc66-4516-8e3a-30ec6890e587"
}