workflows/l0JoSrwnF1DDGk60.json
{
  "active": false,
  "connections": {
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gen. Dep.": {
      "main": [
        [
          {
            "node": "General DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Dep.": {
      "main": [
        [
          {
            "node": "Order DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Other Dep.": {
      "main": [
        [
          {
            "node": "Other DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prod. Dep.": {
      "main": [
        [
          {
            "node": "Prod DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote Dep.": {
      "main": [
        [
          {
            "node": "Quote DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Quote Dep.",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prod. Dep.",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Gen. Dep.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Order Dep.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other Dep.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-08T17:30:00.713Z",
  "id": "l0JoSrwnF1DDGk60",
  "meta": {
    "templateId": "2851"
  },
  "name": "Modular & Customizable AI-Powered Email Routing: Text Classifier for eCommerce",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contacts",
        "formDescription": "Basic Contact Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "placeholder": "Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea",
              "placeholder": "Message",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "13175d48-c3a6-4ca6-afed-b70f40289f38",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        380,
        600
      ],
      "webhookId": "8e10c8ca-895c-4274-ba95-0d646b8bda4e",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "inputText": "={{ $json.Message }}",
        "categories": {
          "categories": [
            {
              "category": "Request Quote",
              "description": "Request for quote"
            },
            {
              "category": "Product info",
              "description": "General information about a product"
            },
            {
              "category": "General problem",
              "description": "General problems about a product"
            },
            {
              "category": "Order",
              "description": "Information about an order placed"
            }
          ]
        },
        "options": {
          "fallback": "other",
          "systemPromptTemplate": "=Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json with the selected {categories}."
        }
      },
      "id": "7b352c9f-5d2e-46ca-9499-594063167e9a",
      "name": "Text Classifier",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        700,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "efef4c71-5f56-44b0-a613-9fa888e495b8",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        640,
        820
      ],
      "typeVersion": 1.2,
      "credentials": {}
    },
    {
      "parameters": {
        "fromEmail": "from@domain.com",
        "toEmail": "to@domain.com",
        "subject": "=[n8n Contacts] Product info",
        "html": "=Name: {{ $json.Name }}\nEmail: {{ $json.Email }}\n\nMessage:\n{{ $json.Message }}\n\nTipo prodotto: {{ $json[\"tipo prodotto\"] }}",
        "options": {
          "replyTo": "={{ $json.Email }}"
        }
      },
      "id": "83f0d528-884c-4701-8fdd-dc07c05fafb5",
      "name": "Prod. Dep.",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1180,
        380
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fromEmail": "from@domain.com",
        "toEmail": "to@domain.com",
        "subject": "=[n8n Contacts] Quote",
        "html": "=Name: {{ $json.Name }}\nEmail: {{ $json.Email }}\n\nMessage:\n{{ $json.Message }}\n\nTipo prodotto: {{ $json[\"tipo prodotto\"] }}",
        "options": {
          "replyTo": "={{ $json.Email }}"
        }
      },
      "id": "88486500-dcea-4db9-9ffd-f55193eaa83d",
      "name": "Quote Dep.",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1180,
        140
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fromEmail": "from@domain.com",
        "toEmail": "to@domain.com",
        "subject": "=[n8n Contacts] General",
        "html": "=Name: {{ $json.Name }}\nEmail: {{ $json.Email }}\n\nMessage:\n{{ $json.Message }}\n\nTipo prodotto: {{ $json[\"tipo prodotto\"] }}",
        "options": {
          "replyTo": "={{ $json.Email }}"
        }
      },
      "id": "f6a63c4f-ee2e-42f1-a12c-b1fc6cf48f94",
      "name": "Gen. Dep.",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1180,
        600
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fromEmail": "from@domain.com",
        "toEmail": "to@domain.com",
        "subject": "=[n8n Contacts] Order info",
        "html": "=Name: {{ $json.Name }}\nEmail: {{ $json.Email }}\n\nMessage:\n{{ $json.Message }}\n\nTipo prodotto: {{ $json[\"tipo prodotto\"] }}",
        "options": {
          "replyTo": "={{ $json.Email }}"
        }
      },
      "id": "04a3e144-af75-4a95-819f-d5f1d4591b67",
      "name": "Order Dep.",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1180,
        840
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fromEmail": "from@domain.com",
        "toEmail": "to@domain.com",
        "subject": "=[n8n Contacts] Other",
        "html": "=Name: {{ $json.Name }}\nEmail: {{ $json.Email }}\n\nMessage:\n{{ $json.Message }}\n\nTipo prodotto: {{ $json[\"tipo prodotto\"] }}",
        "options": {
          "replyTo": "={{ $json.Email }}"
        }
      },
      "id": "3767e3c7-b792-4b0d-a1f2-fc068310cb11",
      "name": "Other Dep.",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1180,
        1060
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit?usp=drivesdk",
          "cachedResultName": "Classified Contact Form"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "columns": {
          "value": {
            "TO": "={{ (JSON.stringify($json.envelope.to)) }}",
            "DATA": "={{ $('Text Classifier').item.json.submittedAt }}",
            "NOME": "={{ $('Text Classifier').item.json.Name }}",
            "EMAIL": "={{ $('Text Classifier').item.json.Email }}",
            "CATEGORIA": "info prodotti",
            "RICHIESTA": "={{ $('Text Classifier').item.json.Message }}"
          },
          "schema": [
            {
              "id": "DATA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "NOME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "EMAIL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "RICHIESTA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "RICHIESTA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CATEGORIA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CATEGORIA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "TO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c411a82d-0b86-49da-a11f-47ec79f9f7ff",
      "name": "Quote DB",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1380,
        140
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit?usp=drivesdk",
          "cachedResultName": "Classified Contact Form"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "columns": {
          "value": {
            "TO": "={{ (JSON.stringify($json.envelope.to)) }}",
            "DATA": "={{ $('Text Classifier').item.json.submittedAt }}",
            "NOME": "={{ $('Text Classifier').item.json.Name }}",
            "EMAIL": "={{ $('Text Classifier').item.json.Email }}",
            "CATEGORIA": "info prodotti",
            "RICHIESTA": "={{ $('Text Classifier').item.json.Message }}"
          },
          "schema": [
            {
              "id": "DATA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "NOME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "EMAIL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "RICHIESTA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "RICHIESTA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CATEGORIA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CATEGORIA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "TO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c14008fb-8932-44ad-88ef-42f6d4029fb1",
      "name": "Prod DB",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1380,
        380
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit?usp=drivesdk",
          "cachedResultName": "Classified Contact Form"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "columns": {
          "value": {
            "TO": "={{ (JSON.stringify($json.envelope.to)) }}",
            "DATA": "={{ $('Text Classifier').item.json.submittedAt }}",
            "NOME": "={{ $('Text Classifier').item.json.Name }}",
            "EMAIL": "={{ $('Text Classifier').item.json.Email }}",
            "CATEGORIA": "info prodotti",
            "RICHIESTA": "={{ $('Text Classifier').item.json.Message }}"
          },
          "schema": [
            {
              "id": "DATA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "NOME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "EMAIL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "RICHIESTA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "RICHIESTA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CATEGORIA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CATEGORIA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "TO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f2e02c07-7218-4d08-a816-1ce2de289312",
      "name": "General DB",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1380,
        600
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit?usp=drivesdk",
          "cachedResultName": "Classified Contact Form"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "columns": {
          "value": {
            "TO": "={{ (JSON.stringify($json.envelope.to)) }}",
            "DATA": "={{ $('Text Classifier').item.json.submittedAt }}",
            "NOME": "={{ $('Text Classifier').item.json.Name }}",
            "EMAIL": "={{ $('Text Classifier').item.json.Email }}",
            "CATEGORIA": "info prodotti",
            "RICHIESTA": "={{ $('Text Classifier').item.json.Message }}"
          },
          "schema": [
            {
              "id": "DATA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "NOME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "EMAIL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "RICHIESTA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "RICHIESTA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CATEGORIA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CATEGORIA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "TO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d6ee5c05-d966-47c1-a7ec-df721f77c5d0",
      "name": "Order DB",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1380,
        840
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit?usp=drivesdk",
          "cachedResultName": "Classified Contact Form"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D6tfsAK81ZE6VA0-sd_syuyI_rloNYjgWOhwgszPIZw/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "columns": {
          "value": {
            "TO": "={{ (JSON.stringify($json.envelope.to)) }}",
            "DATA": "={{ $('Text Classifier').item.json.submittedAt }}",
            "NOME": "={{ $('Text Classifier').item.json.Name }}",
            "EMAIL": "={{ $('Text Classifier').item.json.Email }}",
            "CATEGORIA": "info prodotti",
            "RICHIESTA": "={{ $('Text Classifier').item.json.Message }}"
          },
          "schema": [
            {
              "id": "DATA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "DATA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "NOME",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "NOME",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "EMAIL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "EMAIL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "RICHIESTA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "RICHIESTA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CATEGORIA",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "CATEGORIA",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "TO",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "TO",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b4f344bd-a5c4-4977-af96-edbab85b49d0",
      "name": "Other DB",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1380,
        1060
      ],
      "typeVersion": 4.5
    },
    {
      "parameters": {
        "content": "## Important notes\n\nThis very simple workflow is ideal for eCommerce businesses or customer support teams looking to automate and streamline the handling of contact form submissions.\n\n- It is possible to hook any external form such as CF7 for Wordpress through a webhook\n- It is possible to send the email through other providers by replacing them with the relative nodes (Gmail, Outlook....)\n- It is possible to change the collection database with other tools",
        "height": 280,
        "width": 580
      },
      "id": "99872f49-85c3-47a0-b0ea-10ebbdbb67f5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-08T17:30:00.713Z",
  "versionId": "6a743a85-5595-40d6-ba35-6f3a76d4fafb"
}