workflows/L3HfCWdtM7j3hLXY.json
{
  "active": true,
  "connections": {
    "On Error": {
      "main": [
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-01-19T19:20:54.877Z",
  "id": "L3HfCWdtM7j3hLXY",
  "meta": {
    "templateId": "2150",
    "templateCredsSetupCompleted": true
  },
  "name": "🚨 Report n8n workflow errors to Slack",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#alerts-n8n-workflows",
          "mode": "name"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "id": "eb305364-de39-4b9e-ad6e-eea54ebf712d",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1000,
        520
      ],
      "typeVersion": 2.1,
      "webhookId": "62c61dd3-05e2-41a3-b0dc-093896b3024d",
      "credentials": {
        "slackApi": {
          "id": "yU7RxPAK1zAlbH23",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "9babcea6-ac7c-4a75-bd4c-f3d6a54c0ec7",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        580,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=:warning: [prod] workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! <{{ $json.execution.url }}|execution>\n\nerror message from node: {{ $json.execution.lastNodeExecuted }}\n {{ $json.execution.error.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "134acca3-d4a7-485c-ab45-5a2721ed6a2c",
      "name": "Set message",
      "type": "n8n-nodes-base.set",
      "position": [
        780,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👨‍🎤 Setup\n1. Add Slack creds\n2. Add this error workflow to other workflows\nhttps://docs.n8n.io/flow-logic/error-handling/#create-and-set-an-error-workflow",
        "height": 154.7766688696994,
        "width": 424.4907862645661,
        "color": 5
      },
      "id": "b6dfce1e-95c0-43c4-8a81-098b33130232",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 👆🏽 Adjust error message here",
        "height": 80,
        "width": 241
      },
      "id": "619e2628-6860-47ca-9e6a-9294ea123f8f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "ffe4fcdb-6aba-456e-b16c-78a24fb9a58c",
          "mode": "list",
          "cachedResultName": "Alerts and Incidents"
        },
        "channelId": {
          "__rl": true,
          "value": "19:8f2bb56cc5334804b74898c435641d55@thread.tacv2",
          "mode": "list",
          "cachedResultName": "n8n-workflow-errors",
          "cachedResultUrl": "https://teams.microsoft.com/l/channel/19%3A8f2bb56cc5334804b74898c435641d55%40thread.tacv2/n8n-workflow-errors?groupId=ffe4fcdb-6aba-456e-b16c-78a24fb9a58c&tenantId=dd377119-acad-4957-937d-4dc6af698a65&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1000,
        360
      ],
      "id": "0eb9e296-1e7e-4e2a-a107-7df4481b6805",
      "name": "Microsoft Teams",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "gvOGMiIjuXJWv3fO",
          "name": "Microsoft Teams account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-11T21:24:19.000Z",
  "versionId": "23ff44fc-29f4-4914-a4e3-7897da6cea26"
}