workflows/N0mb43gJcbeMvlr4.json
{
  "active": false,
  "connections": {
    "Mattermost": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-18T07:45:02.282Z",
  "id": "N0mb43gJcbeMvlr4",
  "meta": null,
  "name": "Sample error workflow",
  "nodes": [
    {
      "parameters": {
        "message": "=The workflow named '{{$node[\"Error Trigger\"].json[\"workflow\"][\"name\"]}}' with the ID {{$node[\"Error Trigger\"].json[\"workflow\"][\"id\"]}} has encountered an error.",
        "options": {}
      },
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "position": [
        830,
        240
      ],
      "typeVersion": 1,
      "id": "5a64ccb9-0669-430e-b3f5-e6c437fabb7d"
    },
    {
      "parameters": {
        "message": "=The workflow named '{{$json[\"workflow\"][\"name\"]}}' with the ID {{$json[\"workflow\"][\"id\"]}} has encountered an error. The last node that was executed was {{$json[\"execution\"][\"lastNodeExecuted\"]}}.",
        "attachments": [],
        "otherOptions": {}
      },
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "085647f9-411c-48b7-8329-6c773ab646e8"
    },
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "06eef22f-912a-451d-9d89-46a198ac172e"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T07:45:02.282Z",
  "versionId": "99173bf5-db5a-4e85-8231-146eefb5edba"
}