workflows/Nightly n8n backup to Google Drive 2.json
{
  "active": true,
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If n8n_old",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1 n8n_backups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If n8n_old": {
      "main": [
        [
          {
            "node": "Create n8n_old",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge mensage",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IGNORE FILES": {
      "main": [
        [
          {
            "node": "GET CURRENT BACKUPS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge mensage": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER CREATES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create n8n_old": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists old": {
      "main": [
        [
          {
            "node": "Split In Batches old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1 n8n_backups": {
      "main": [
        [
          {
            "node": "Create n8n_backups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge mensage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIST OLD BACKUPS": {
      "main": [
        [
          {
            "node": "Item Lists old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "UPLOAD WORKFLOWS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPLOAD WORKFLOWS": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE OLD BACKUP": {
      "main": [
        [
          {
            "node": "Split In Batches old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "LIST OLD BACKUPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches2": {
      "main": [
        [
          {
            "node": "MOVE INTO OLD FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create n8n_backups": {
      "main": [
        [
          {
            "node": "GET CURRENT FOLDER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT FOLDER": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT BACKUPS1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MOVE INTO OLD FOLDER": {
      "main": [
        [
          {
            "node": "Split In Batches2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches old": {
      "main": [
        [
          {
            "node": "DELETE OLD BACKUP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET CURRENT FOLDER CREATES": {
      "main": [
        [
          {
            "node": "IGNORE FILES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-23T16:02:12.187Z",
  "id": "lBRZJBMB8eieVB9A",
  "meta": {
    "templateId": "2469"
  },
  "name": "Nightly n8n backup to Google Drive 2",
  "nodes": [
    {
      "parameters": {
        "content": "MOVE CURRENT BACKUPS TO OLD FOLDER",
        "height": 248.06218763804304,
        "width": 982.895112064014,
        "color": 4
      },
      "id": "a7b63b3c-0267-4471-9692-c092d377527f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2286.4636782718453,
        244.61460582830068
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "BACKUP ALL CURRENT WORKFLOWS limit 100 (Change)",
        "height": 267.23574473121596,
        "width": 984.8018228465335
      },
      "id": "c7825d35-0d00-441f-aadc-279bf4f9f725",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2287.7625197370526,
        521.8118426547078
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "PURGE BACKUPS OLDER THEN 30 DAYS\n",
        "height": 188.38611225559103,
        "width": 980.8812626356395
      },
      "id": "76484699-cc0a-44c6-8cbd-1fc3e87c88b8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2286.9000175440465,
        807.6000701761866
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $json.name }}-{{ $json.active === false ? 'inactive' : $json.active === true ? 'active' : 'unknown' }}",
          "useRawData": true
        }
      },
      "id": "13771bc4-dc3c-44be-81dd-36953a94ef95",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        2560,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## get Google Drive folders",
        "height": 755.833854865218,
        "width": 1028.948690383348,
        "color": 2
      },
      "id": "4421a9b6-be89-4989-a512-66cf60a195ab",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        810.9644343238933,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Ignore any other folders other than: n8n_backups\n(it is important that you created this folder)",
        "height": 753.2799109651138,
        "width": 392.3686871844003,
        "color": 6
      },
      "id": "ebe9c214-8b8c-4e64-95b9-5da49f7af6eb",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1863.0174649880387,
        242.25209728565392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "98415e9e-5354-4223-9107-ef3ade30c2f0",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $node[\"GET CURRENT FOLDER\"].json.name }}",
              "rightValue": "n8n_backups"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1b99e74-d6ad-49ea-8e10-03b86fef1ab3",
      "name": "IGNORE FILES",
      "type": "n8n-nodes-base.filter",
      "position": [
        2000,
        360
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "n8n_backups",
        "driveId": {
          "__rl": true,
          "value": "0AO4pwPDytuLPUk9PVA",
          "mode": "list",
          "cachedResultName": "[7] JVWBSN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AO4pwPDytuLPUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "14hj4Tdda6q-Am4SYIYtLUuakxaWMGCRt",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14hj4Tdda6q-Am4SYIYtLUuakxaWMGCRt"
        },
        "options": {}
      },
      "id": "4c7e13ae-bb6c-4dec-8b81-d3828d275c07",
      "name": "Create n8n_backups",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1560,
        656.2171673095763
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "n8n_old",
        "driveId": {
          "__rl": true,
          "value": "0AO4pwPDytuLPUk9PVA",
          "mode": "list",
          "cachedResultName": "[7] JVWBSN",
          "cachedResultUrl": "https://drive.google.com/drive/folders/0AO4pwPDytuLPUk9PVA"
        },
        "folderId": {
          "__rl": true,
          "value": "14hj4Tdda6q-Am4SYIYtLUuakxaWMGCRt",
          "mode": "list",
          "cachedResultName": "n8n-backups",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14hj4Tdda6q-Am4SYIYtLUuakxaWMGCRt"
        },
        "options": {}
      },
      "id": "65929862-ef4f-475a-afcf-1586e84f409b",
      "name": "Create n8n_old",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1560,
        816.2171673095763
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Contact me \n**By Mail**. [Send Mail](mailto:nuntius.creative.hub@gmail.com)",
        "height": 105.6805438265643,
        "width": 355.73762189847923,
        "color": 3
      },
      "id": "d7537c36-e752-48c6-b634-0a3227969e51",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Since the folder does not exist, it creates a new one.\nn8n_backups\nn8n_old",
        "height": 451.756147757587,
        "width": 327.6965514381564,
        "color": 5
      },
      "id": "6ef96242-cf66-438a-8530-e464211387d4",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1452.3103992657175,
        536.2171673095763
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=",
        "returnAll": true,
        "filter": {
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "id": "8cc14c6f-2660-4021-9afc-58e2e719208f",
      "name": "GET CURRENT FOLDER",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        880,
        560
      ],
      "executeOnce": true,
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst requiredNames = [\"n8n_old\", \"n8n_backups\"];\n\n// Filtrar los nombres de la entrada\nconst folderNames = items.map(item => item.json.name);\n\n// Encontrar los nombres que faltan\nconst missingNames = requiredNames.filter(name => !folderNames.includes(name));\n\nif (missingNames.length === 0) {\n  return [{ json: { message: \"ok\" } }];\n} else {\n  return [{ json: { message: `Faltan los siguientes: ${missingNames.join(', ')}` } }];\n}\n"
      },
      "id": "c15d3af2-5a53-4c02-a72f-ef6b3d18fad6",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        560
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43bd468e-1018-4b45-9448-c51835ed65bc",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.message }}",
              "rightValue": "n8n_old"
            }
          ]
        },
        "options": {}
      },
      "id": "0cb4ed4e-e10a-427a-b8b0-2b1fd111fda0",
      "name": "If n8n_old",
      "type": "n8n-nodes-base.if",
      "position": [
        1240,
        680
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "43bd468e-1018-4b45-9448-c51835ed65bc",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.message }}",
              "rightValue": "n8n_backups"
            }
          ]
        },
        "options": {}
      },
      "id": "0b2043a0-73d3-46d4-a71a-5754bd339041",
      "name": "If1 n8n_backups",
      "type": "n8n-nodes-base.if",
      "position": [
        1240,
        440
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "id": "3c67066b-3c39-47ee-bd49-fee7d391dd1f",
      "name": "GET CURRENT FOLDER CREATES",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1680,
        360
      ],
      "executeOnce": true,
      "notesInFlow": true,
      "retryOnFail": true,
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "aedb45d3-fc32-490c-924e-42e3876ab7e5",
      "name": "Merge mensage",
      "type": "n8n-nodes-base.merge",
      "position": [
        1500,
        360
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".json",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "1ZwT37QsrdxpdP0yp9yJLka-TSIIuxruu",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ZwT37QsrdxpdP0yp9yJLka-TSIIuxruu",
            "cachedResultName": "n8n_backups"
          }
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        }
      },
      "id": "05de73e1-ef5d-4e46-bd63-cc278a83db59",
      "name": "GET CURRENT BACKUPS1",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2360,
        320
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "56abf984-333f-4978-b782-e86496f4da1b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        880,
        360
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Does a folder exist?, if it does not exist it creates it",
        "height": 542.95115693689,
        "width": 203.08765089203305,
        "color": 7
      },
      "id": "c5d1d407-fb70-404b-b25d-1ce53e26d039",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1196.912349107967,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV",
          "cachedResultName": "n8n_old"
        }
      },
      "id": "b8cf1ec4-490e-43ab-91f0-15e86983c848",
      "name": "MOVE INTO OLD FOLDER",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3040,
        300
      ],
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30
            }
          ]
        }
      },
      "id": "c9552e8d-ff0d-49f1-bcc4-0dac99841575",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2320,
        840
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{ $('Split In Batches').item.binary.data.fileName }}-{{ $node[\"n8n\"].json[\"updatedAt\"] }}.json\n\n",
        "parents": [
          "={{ $('IGNORE FILES').item.json.id }}"
        ],
        "options": {}
      },
      "id": "a0e7b30b-651d-4e32-8168-ef26d378f84b",
      "name": "UPLOAD WORKFLOWS",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3040,
        580
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Description\nThis template creates a nightly backup of all n8n workflows and saves them to a Google Drive folder. Each night, the previous night's backups are moved to an “n8n_old” folder and renamed with the corresponding date.\n\nBackups older than a specified age are automatically deleted (this feature is active for 30 days, you can remove it if you don't want the backups to be deleted).\n\n## Prerequisites\n\n- Google Drive account and credentials **Get** from the following link. [Link](https://console.cloud.google.com/apis/credentials/oauthclient/)\n- n8n version 1.70.1 or higher\n- N8n api key **Guide** from the following link. [Link](https://witmovil.com/where-to-create-the-api-key-in-n8n/)\n- A destination folder for backups:\n“n8n_old”\n“n8n_backups”\n(if it doesn't exist, create it)\n\n## Configuration\nUpdate all Google Drive nodes with your credentials.\nEdit the Schedule Trigger node with the desired time to run the backup.\nIf you want to automatically purge old backups.\n\nEdit the “PURGE DAYS” node to specify the age of the backups you want to delete.\nEnable the “PURGE DAYS” node and the 3 subsequent nodes.\nEnable the workflow to run on the specified schedule.",
        "height": 759.2757638563562,
        "width": 397.07512898799075,
        "color": 3
      },
      "id": "570ddab0-63f4-4530-8d52-ba6e0176c992",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "id": "25e46981-84eb-4741-b684-7d642468e550",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        2560,
        320
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "0b412662-2db5-432f-bb29-a696f55cac8b",
      "name": "Split In Batches2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2780,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "a28738e4-4781-4eef-be2b-3c8d49e0b48b",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2780,
        600
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "returnAll": false,
        "filters": {},
        "requestOptions": {}
      },
      "id": "9dfe144f-55a5-440a-af93-9ace923ba5ca",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2360,
        600
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "BeNvCRvX0ueLkTve",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": ".json",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1UcusrWKnbFl3cJYIjaDdp1VCgreg2oeV",
            "cachedResultName": "n8n_old"
          }
        },
        "options": {
          "fields": [
            "name",
            "id"
          ]
        }
      },
      "id": "3974e055-f26c-498e-a486-9b48dce33d54",
      "name": "LIST OLD BACKUPS",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2520,
        840
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "deletePermanently": true
        }
      },
      "id": "36d275d7-5427-4417-9990-abacfc005923",
      "name": "DELETE OLD BACKUP",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        3120,
        820
      ],
      "typeVersion": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UjDSJPtSAQu2OKNo",
          "name": "Google Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "id": "d60329de-e74c-41db-9ae9-3c854b0fc0e6",
      "name": "Item Lists old",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        2720,
        840
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "id": "7aa7686a-cbef-49ec-9745-99c2e180493c",
      "name": "Split In Batches old",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2920,
        840
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Errors corrected: \n* Now iterates through each file to save, move, or delete.\n* Added an \"active\" or \"inactive\" label in the name to indicate the status.\n* Corrected names and filters.\nSet a limit of 100, which can be adjusted in n8n for additional copies.\n* Fixed node n8n, now it gets both active and inactive workflows.",
        "height": 253.8630009376974,
        "width": 356.757187810333,
        "color": 7
      },
      "id": "8ef31f2e-c2dd-4364-b203-2165a6f19277",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1883.422479624035,
        660
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-12-25T18:17:14.000Z",
  "versionId": "c6c5bbf7-5f32-47c8-9a04-d36451852805"
}