workflows/PgrJM8a1uRlt2MNr.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create event with google meet link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send msg with Google meet link": {
      "main": [
        [
          {
            "node": "Delete temporary calendar event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create event with google meet link": {
      "main": [
        [
          {
            "node": "Send msg with Google meet link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-19T19:20:34.511Z",
  "id": "PgrJM8a1uRlt2MNr",
  "meta": {
    "templateId": "2156"
  },
  "name": "Generate instant google meet links with a slack command",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-meet-trigger",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "id": "5577aaf6-f682-49c3-9d21-f819151f77c5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        540,
        740
      ],
      "webhookId": "f442a7bb-451e-4371-8b7a-614caa0e04dd",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### 1. Setup: Add a Slack App\n**a.** Visit https://api.slack.com/apps, click on `New App` and choose a name and workspace.\n**b.** Click on `OAuth & Permissions` and scroll down to Scopes -> Bot token Scopes\n**c.** Add the `chat:write` scope & `chat:write.public`\n**d.** Navigate to `Slash Commands` and click `Create New Command`\n**e.** Use `/meet` as the command\n**f.** Copy the production URL from the **Webhook** node into `Request URL` within your slash command\n**g.** Add relevant description and usage hint\n**h.** Go to `Install app` and click install\n**i.** Don't worry about app distribution, that's only if you're trying to publish an app on the slack store",
        "height": 482.56534054190786,
        "width": 463.09809221779403,
        "color": 6
      },
      "id": "018c32c7-c3eb-4679-8064-ab92bb62cac5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 2. Setup: Google auth & calendar\n**a.** Visit [the docs](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/) and follow the steps to setup Google auth credential\n**b.** Choose the calendar you wish to create google meet links from\n\n\n\n👇",
        "height": 192.66150688057675,
        "width": 291.779972644588,
        "color": 6
      },
      "id": "3bfa07d4-ef3e-4ec4-91a2-ca94e2346299",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3. Setup: Configure slack node authentication and your message\n**a.** Connect your slack account\n**b.** Configure your message text. Be sure to include the hangoutLink expression to output a meeting link\n\n👇",
        "height": 192.92455101677126,
        "width": 292.3392628968803,
        "color": 6
      },
      "id": "aab60499-7123-43c0-8f99-d0eade0f5672",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        500
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "start": "={{ $now }}",
        "end": "={{ $now.plus({minutes: 15}) }}",
        "additionalFields": {
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          }
        }
      },
      "id": "a15fc232-ec8e-4dfb-add7-2a3c27c5a232",
      "name": "Create event with google meet link",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        980,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Webhook').item.json.body.channel_id }}"
        },
        "text": "=Join me here: {{ $('Create event with google meet link').item.json.hangoutLink }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "unfurl_links": false
        }
      },
      "id": "57c2d5b8-f5d7-4db1-9e13-48265d174679",
      "name": "Send msg with Google meet link",
      "type": "n8n-nodes-base.slack",
      "position": [
        1300,
        740
      ],
      "typeVersion": 2.1,
      "webhookId": "b5ad5ce9-c4d8-4402-a7af-d5c5d763f648"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "eventId": "={{ $('Create event with google meet link').item.json[\"id\"] }}",
        "options": {}
      },
      "id": "898b9681-c532-490e-aea2-a4f693b52f35",
      "name": "Delete temporary calendar event",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        1640,
        740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate google meet links with a slack command \nSpin up instant google meet links directly from slack and send to all channel participants\n\n",
        "height": 146.4269155371431,
        "width": 459.2991776576996,
        "color": 4
      },
      "id": "ec70003a-6dea-4c1b-a16e-e64a206aba16",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3. Setup: Select google calendar account\n**a.** Select the same calendar you're using to create the initial event\n\n\n\n\n👇",
        "height": 192.92455101677126,
        "width": 292.3392628968803,
        "color": 6
      },
      "id": "eee48232-8477-4bfb-8164-bfaf66062071",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        500
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-19T19:20:34.511Z",
  "versionId": "0bf2950d-03a3-4f4a-a161-5c777d88f872"
}