workflows/Receive updates when a subscriber is added to a group in MailerLite 2.json
{
  "active": false,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-20T16:06:14.218Z",
  "id": "dIyf8NYVuHlRfk5W",
  "meta": null,
  "name": "Receive updates when a subscriber is added to a group in MailerLite 2",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "9c9db438-f759-479a-969b-29aa6ae57763",
      "disabled": true
    },
    {
      "parameters": {
        "event": "subscriber.add_to_group"
      },
      "name": "MailerLite Trigger",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "position": [
        800,
        -60
      ],
      "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
      "typeVersion": 1,
      "id": "1611183f-48bd-4cd1-a843-9fd4b830f3b0"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1000,
        -60
      ],
      "typeVersion": 1,
      "id": "662d11b2-ff58-40e4-bb72-1ca973621c73"
    },
    {
      "parameters": {
        "operation": "append",
        "application": "",
        "table": "Data",
        "options": {}
      },
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1200,
        -60
      ],
      "typeVersion": 1,
      "id": "cab322d5-2ef8-4386-9383-f9d6010e52ea"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-20T16:06:14.218Z",
  "versionId": "7e01fc85-c002-4654-8524-2e0eab7dad0f"
}