workflows/Track changes of product prices 4.json
{
  "active": false,
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "changeME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "NotifyBetterPrice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [
          {
            "node": "savedItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF4": {
      "main": [
        [
          {
            "node": "NotifyIncorrectPrice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "checkifexists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "initItem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "changeME": {
      "main": [
        [
          {
            "node": "initItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchWeb": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initItem": {
      "main": [
        [
          {
            "node": "fetchWeb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "initItem1": {
      "main": [
        [
          {
            "node": "changeME",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveToFile": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "savedItems": {
      "main": [
        [
          {
            "node": "itemsToJSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itemsToJSON": {
      "main": [
        [
          {
            "node": "updateSavedItems1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "Move Binary Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "getActualPrice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JsonToBinary": {
      "main": [
        [
          {
            "node": "SaveToFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkifexists": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getActualPrice": {
      "main": [
        [
          {
            "node": "IF4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateSavedItems": {
      "main": [
        [
          {
            "node": "JsonToBinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data1": {
      "main": [
        [
          {
            "node": "Write Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyBetterPrice": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "updateSavedItems1": {
      "main": [
        [
          {
            "node": "updateSavedItems",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NotifyIncorrectPrice": {
      "main": [
        [
          {
            "node": "checkifexists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-06T08:01:39.923Z",
  "id": "yXKxyk9xZkUIWw8V",
  "meta": {
    "templateId": "837"
  },
  "name": "Track changes of product prices 4",
  "nodes": [
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "price",
              "cssSelector": "={{$node[\"initItem\"].json[\"selector\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1450,
        410
      ],
      "typeVersion": 1,
      "id": "affc0295-3886-46bb-9132-0e7e419f26b2"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        380,
        410
      ],
      "typeVersion": 1,
      "id": "014ac46b-5603-434a-ad43-724148f85d35"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar price = String(item.price).replace(\",\", \".\");\nprice = parseFloat(price);\n//price = price.replace(/\\D/g, '');\n//item.price = String(item.price).replace(\",\", \".\");\n//item.price = parseFloat(item.price);\n\nitem.priceExists = (price > 0 ? true : false)\nitem.price = price;\n\n// Update its data\nglobalData.actualPrice = item;\n\nreturn item;"
      },
      "name": "getActualPrice",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1650,
        410
      ],
      "typeVersion": 1,
      "id": "437e4849-3100-46fe-8825-241dc1903c22"
    },
    {
      "parameters": {
        "url": "={{$node[\"initItem\"].json[\"link\"]}}",
        "responseFormat": "string",
        "options": {}
      },
      "name": "fetchWeb",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1260,
        410
      ],
      "typeVersion": 1,
      "id": "97601d30-eb41-4051-90d8-931ebd0874cc"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nglobalData.iteration = 0;\n//var thiselem = $node[\"initItem\"].json;\n\n//const s1 = {'slug': thiselem.slug, \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n//const s2 = {'slug': thiselem.slug+'2', \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n//const s3 = {'slug': thiselem.slug+'3', \"link\": thiselem.link, \"selector\": thiselem.selector, \"price\":$node[\"getActualPrice\"].json.price, \"currency\": thiselem.currency};\n\nreturn $node[\"changeME\"].json.myWatchers;\n"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        2690,
        410
      ],
      "typeVersion": 1,
      "id": "1561f853-3f57-4877-a975-e91364ef808f"
    },
    {
      "parameters": {
        "fileName": "/data/kopacky.json",
        "dataPropertyName": "=price",
        "options": {}
      },
      "name": "Write Binary File1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        3520,
        410
      ],
      "typeVersion": 1,
      "id": "ec55b65a-a667-48b0-89b3-29585fb73933"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "price",
        "options": {}
      },
      "name": "Move Binary Data1",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        3090,
        410
      ],
      "typeVersion": 1,
      "id": "0130330d-fd86-4060-acc2-1100d376d828"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"checkifexists\"].json[\"stdout\"]}}",
              "operation": "notEqual",
              "value2": "Exists"
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        2220,
        430
      ],
      "typeVersion": 1,
      "id": "f1f9f465-c240-43b8-8d2f-d8c2b019566c"
    },
    {
      "parameters": {
        "command": "if [ -r /data/kopacky.json ]; then echo Exists; fi"
      },
      "name": "checkifexists",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        2080,
        430
      ],
      "typeVersion": 1,
      "id": "be1e381d-0146-475e-a1d2-aed085166c39"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"checkifexists\"].json[\"stdout\"]}}",
              "value2": "Exists"
            }
          ]
        }
      },
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "position": [
        2350,
        910
      ],
      "typeVersion": 1,
      "id": "a1408c38-5567-47f0-b4a0-16a19190ca26"
    },
    {
      "parameters": {
        "fileName": "/data/kopacky.json",
        "dataPropertyName": "=price",
        "options": {}
      },
      "name": "SaveToFile",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        3320,
        910
      ],
      "typeVersion": 1,
      "id": "f36a6eba-341e-41d6-add1-07d910020368"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "destinationKey": "price",
        "options": {}
      },
      "name": "JsonToBinary",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        3170,
        910
      ],
      "typeVersion": 1,
      "id": "6d2c631d-3b25-4b32-8792-c9a23e4dfb68"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\n//{'slug': 'kopacky', 'link': 'https://www.adsport.sk/kopacky-lisovky-adidas-x-19-3-ll-fg-ef0598/#1131861', 'currency': 'EUR'}[]\nvar myWatchers = [\n{'slug': 'kopacky', 'link': 'https://www.adsport.sk/kopacky-lisovky-adidas-x-19-3-ll-fg-ef0598/#1131861', 'selector':'.prices > strong:nth-child(1) > span:nth-child(1)', 'currency': 'EUR'},\n{'slug': 'kopacky2', 'link': 'https://www.adsport.sk/turfy-adidas-ace-tango-17-3-tf-by2203/', 'selector':'.col-xs-4 > strong:nth-child(1) > span:nth-child(1)', 'currency': 'EUR'},\n{'slug': 'mobilcek', 'link': 'https://mobil.bazos.sk/inzerat/112253662/predam-odolny-doogee-s60-52-4g-lte-nfc.php', 'selector':'.listadvlevo > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(5) > td:nth-child(2) > b:nth-child(2)', 'currency': 'EUR'},\n{'slug': 'ADIZERO RC 2', 'link': 'https://www.adsport.sk/panske-bezecke-topanky-adidas-adizero-rc-2-eg1187/', 'selector':'.col-xs-4 > strong:nth-child(1) > span:nth-child(1)', 'currency': 'EUR'}\n];\n\nitem.myWatchers = myWatchers;\nitem.watchersCount = myWatchers.length;\nglobalData.myWatchers = myWatchers;\n\nreturn item;"
      },
      "name": "changeME",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        840,
        410
      ],
      "typeVersion": 1,
      "id": "81c34548-5fcb-4659-bd88-b5884922b3dd"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar counter = globalData.iteration;\n\nitem.myWatchers[counter].watchersCount = item.watchersCount;\nitem.myWatchers[counter].canContinue = (globalData.iteration < item.watchersCount-1 ? true : false);\n//item.myWatchers[counter].canContinue = false;\n\nglobalData.iteration = counter + 1;\n\nreturn item.myWatchers[counter];"
      },
      "name": "initItem",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1050,
        410
      ],
      "typeVersion": 1,
      "id": "9b312ddf-7e32-43fd-9a37-232d58516cac"
    },
    {
      "parameters": {
        "filePath": "/data/kopacky.json",
        "dataPropertyName": "savedItems"
      },
      "name": "savedItems",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2520,
        780
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "46cdafe4-8ede-4413-b758-8e3d43c1a62b",
      "continueOnFail": true
    },
    {
      "parameters": {
        "sourceKey": "savedItems",
        "options": {}
      },
      "name": "itemsToJSON",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        2690,
        780
      ],
      "typeVersion": 1,
      "id": "22fa20cc-0b0a-4aaf-b244-b2eac04e340e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"initItem\"].json[\"canContinue\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        3860,
        710
      ],
      "typeVersion": 1,
      "id": "b2beda06-308b-48f0-8075-ec11b67e3672"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nglobalData.iteration = 0;\n\nreturn item;"
      },
      "name": "initItem1",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        610,
        410
      ],
      "typeVersion": 1,
      "id": "4a680336-cafd-4aa7-80ce-a2371bb244ad"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"getActualPrice\"].json[\"price\"]}}",
              "value2": "={{$node[\"updateSavedItems1\"].json[\"oldPrice\"]}}"
            }
          ],
          "string": []
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "position": [
        3520,
        910
      ],
      "typeVersion": 1,
      "id": "5627df45-f73b-4a9a-9186-1f158877e333"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\n\nvar myitems = [];\nvar i;\nfor (i = 0; i < item.items.length; i++) { \n  if($node[\"initItem\"].json.slug == item.items[i].slug && $node[\"getActualPrice\"].json.price < item.items[i].price) {\n    item.items[i].price = $node[\"getActualPrice\"].json.price;\n  }\n  myitems.push(item.items[i]);\n} \n\nreturn myitems;\n"
      },
      "name": "updateSavedItems",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        3020,
        910
      ],
      "typeVersion": 1,
      "id": "8585af87-c8bd-4e33-80ff-162adb811188"
    },
    {
      "parameters": {
        "functionCode": "const globalData = getWorkflowStaticData('global');\nvar oldPrice = null;\nvar myitems = [];\nvar i;\nfor (i = 0; i < item.length; i++) {\n  if($node[\"initItem\"].json.slug == item[i].slug) {\n\n    item[i].link = $node[\"initItem\"].json.link;\n    item[i].selector = $node[\"initItem\"].json.selector;\n    item[i].currency = $node[\"initItem\"].json.currency;\n    \n    if(!item[i].price){\n      item[i].price = $node[\"getActualPrice\"].json.price;\n    }\n    \n    if($node[\"getActualPrice\"].json.price < item[i].price){\n      oldPrice = item[i].price;\n      item[i].price = $node[\"getActualPrice\"].json.price;\n    }\n    \n    \n  }\n  \n  myitems.push(item[i]);\n} \n\n//item.somar = $node[\"initItem\"].json;\n//return globalData.actualPrice;\n\nvar itemm = {};\nitemm.items = myitems;\nitemm.oldPrice = oldPrice;\nreturn itemm;\n"
      },
      "name": "updateSavedItems1",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        2870,
        780
      ],
      "typeVersion": 1,
      "id": "917c9f7f-b408-426b-b9aa-a4835cfd2f1e"
    },
    {
      "parameters": {
        "command": "file=\"/data/kopacky.json\"\n[ -f $file ] && rm $file"
      },
      "name": "cleanData",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "ba02cac3-1c2b-4d33-b849-d31ea95ea947",
      "notes": "This will remove all storaged data."
    },
    {
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$node[\"getActualPrice\"].json[\"priceExists\"]}}"
            }
          ]
        }
      },
      "name": "IF4",
      "type": "n8n-nodes-base.if",
      "position": [
        1820,
        410
      ],
      "typeVersion": 1,
      "id": "ef3b7a7e-d454-46f0-90c5-5118383222dc"
    },
    {
      "parameters": {
        "fromEmail": "hostovecky@weyou.sk",
        "toEmail": "sthosstudio@gmail.com",
        "subject": "=Nová cena - {{$node[\"initItem\"].json[\"slug\"]}} - {{$node[\"getActualPrice\"].json[\"price\"]}} {{$node[\"initItem\"].json[\"currency\"]}}",
        "text": "=",
        "html": "=<h2>Nová cena je: {{$node[\"getActualPrice\"].json[\"price\"]}} {{$node[\"initItem\"].json[\"currency\"]}}</h2><br>\nPôvodná cena bola: {{$node[\"updateSavedItems1\"].json[\"oldPrice\"]}} {{$node[\"initItem\"].json[\"currency\"]}}<br>\nURL: {{$node[\"initItem\"].json[\"link\"]}}",
        "options": {}
      },
      "name": "NotifyBetterPrice",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        3520,
        710
      ],
      "typeVersion": 1,
      "id": "1b9a7f0b-2141-40dd-aa24-c29400f976bc"
    },
    {
      "parameters": {
        "fromEmail": "hostovecky@weyou.sk",
        "toEmail": "sthosstudio@gmail.com",
        "subject": "={{$node[\"initItem\"].json[\"slug\"]}} - Getting price issue.",
        "text": "=",
        "html": "=Please check the link or selector for the item with slug <strong>{{$node[\"initItem\"].json[\"slug\"]}}</strong><br>\nURL: {{$node[\"initItem\"].json[\"link\"]}}",
        "options": {}
      },
      "name": "NotifyIncorrectPrice",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1940,
        110
      ],
      "typeVersion": 1,
      "id": "db297cfe-5110-4e48-aa37-573f913fd0d9"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-06T08:01:39.923Z",
  "versionId": "0a5f627a-4517-4d18-b489-1f37c1c1c9dc"
}