workflows/TzSzUyNAlG517ipY.json
{
  "active": false,
  "connections": {
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "lookup_clockify_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup SM Project": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup SMCliient": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove_dup_clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass ": {
      "main": [
        [
          {
            "node": "Map_Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Pass ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_clockify_project": {
      "main": [
        [
          {
            "node": "lookup_clockify_client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_clockify_client": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map_Project": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove_dup_clients": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-18T07:45:00.903Z",
  "id": "TzSzUyNAlG517ipY",
  "meta": null,
  "name": "Lookup Reference Clockify",
  "nodes": [
    {
      "parameters": {
        "content": "## Lookup Reference Toggl",
        "height": 80,
        "width": 697
      },
      "id": "cf7ebd20-4239-46a4-8adc-4422e2392be1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        -300
      ]
    },
    {
      "parameters": {},
      "id": "dbdff0d9-1cb6-488e-979c-fd30df398aa7",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1500,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/65b0c1654050e485a501517d/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "options": {}
      },
      "id": "91d598cb-1bcd-4bb3-b4d6-661de4d115f6",
      "name": "Lookup SM Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/657c055059b633d6009e1e42/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "options": {}
      },
      "id": "e96f5cc3-176a-432c-ae88-db617eec2781",
      "name": "lookup SMCliient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "08ff3ca5-b4b3-485d-a7f0-995210d56231",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('lookup_clockify_project').item.json.clientId }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e83da146-9b11-470a-9088-506e7c96bd52",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1780,
        60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "options": {}
      },
      "id": "2f8a5502-f922-4a07-9254-98b57f39b0e2",
      "name": "Pass ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=items",
        "include": "selectedOtherFields",
        "fieldsToInclude": "items[0].id, items[0].sf698fb364",
        "options": {}
      },
      "id": "12fdc540-d20a-4755-b7ba-1212e49288c9",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2180,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cf490ee-7f09-43c8-a76e-d6a3e9bb2388",
              "name": "sm_id",
              "value": "={{ $json['items[0].id'] }}",
              "type": "string"
            },
            {
              "id": "add3b906-5fff-471c-92f2-e68827095892",
              "name": "sm_time_entry",
              "value": "={{ $json['items[0].sf698fb364'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "293d05a0-f9e5-424b-9f60-85e1de187cfb",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2420,
        320
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": " WITH \n  project_det AS (\n    SELECT * \n    FROM input2\n  ),\n  project_ref AS (\n    SELECT *\n    FROM input1\n  )\nSELECT\n  project_ref.*,\n  project_det.*\n\nFROM \n  project_ref\nLEFT JOIN \n  project_det \nON \n  cast(project_det.id as TEXT) = cast(project_ref.sf698fb364 as text);\n"
      },
      "id": "95de822e-6471-42a0-99fc-b2518f442ba6",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2660,
        260
      ]
    },
    {
      "parameters": {},
      "id": "4911721e-f1ab-4b1d-a35f-d6469f42e93c",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3120,
        160
      ]
    },
    {
      "parameters": {},
      "id": "87f7a7b9-bc0a-41b6-b79b-c4ebc95d4ff9",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        900,
        160
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "WITH \n  time_entry  AS\n  (\n  select * from input2\n  )\n  ,project as \n  (\n  select * from input3\n  )\n  ,client AS\n  (\n  select * from input1\n  )\nselect \n  project.sm_id as project_sm_rec_id,\n  project.name as proj_name,\n  client.record_id as client_sm_rec_id,\n  client.id as client_id,\n  client.name as client_name,\n  time_entry.id as time_entry_id,\n  time_entry.*\nfrom time_entry\n  left join project on project.id = time_entry.project_id\n  left join client on client.id = project.client_id"
      },
      "id": "58551934-da01-4bdb-a06c-709d71882d60",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2880,
        160
      ]
    },
    {
      "parameters": {
        "url": "=https://api.clockify.me/api/v1/workspaces/65257da509b7a210604dda1a/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "NDk4ZWExZDctNWJhMi00NmY1LTk5ODctNWU2ZDExMDhmNDYw"
            }
          ]
        },
        "options": {}
      },
      "id": "926b47fa-11c1-466d-aeaa-b88bfc5a20bf",
      "name": "lookup_clockify_project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://api.clockify.me/api/v1/workspaces/65257da509b7a210604dda1a/clients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "NDk4ZWExZDctNWJhMi00NmY1LTk5ODctNWU2ZDExMDhmNDYw"
            }
          ]
        },
        "options": {}
      },
      "id": "72ef6dee-0ca8-4385-a48a-75f361dc3930",
      "name": "lookup_clockify_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7122793-20cb-4ed8-b704-40e43d29ed22",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "afe49eae-bca1-4b5d-ba22-d5137dbdbe33",
      "name": "Map_Project",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        240
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": " WITH \n    client_ref AS (\n    SELECT * \n    FROM input2\n  ),\n   client_det AS (\n    SELECT *\n    FROM input1\n  )\nSELECT\n  client_ref.*,\n  client_det.*\n\nFROM \n   client_det\nLEFT JOIN \n   client_ref\nON \n  cast(client_det.id as TEXT) = cast(client_ref.s8a800622b as TEXT);"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2360,
        40
      ],
      "id": "b378f879-2b38-4ba4-aeca-501eef04545e",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "id": "3eead394-ad6c-482e-a3c3-500f1ffd93d8",
      "name": "Remove_dup_clients",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        2000,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "32816a8d-6f2a-4e99-bae0-f889a7c15a78",
              "leftValue": "={{ $json.items.s1550ded13 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2000,
        -100
      ],
      "id": "c3f43dc7-0d51-41d9-8514-58fd1e9ee2b7",
      "name": "Filter1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=items",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "48c05b64-d044-427e-81db-201f94478927",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1780,
        -100
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T07:45:00.903Z",
  "versionId": "e09644ce-a3ed-4f64-86af-5611f6db81fd"
}