workflows/U7jHqpDpaKND7AgA.json
{
  "active": false,
  "connections": {
    "Order Created": {
      "main": [
        [
          {
            "node": "Price over 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price over 100": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-01-19T19:28:48.320Z",
  "id": "U7jHqpDpaKND7AgA",
  "meta": {
    "templateId": "1457"
  },
  "name": "Notify on Slack when new order is registered in WooCommerce 2",
  "nodes": [
    {
      "parameters": {
        "event": "order.created"
      },
      "name": "Order Created",
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "287b4bf4-67ec-4c97-85d9-c0d3e6f59e6b",
      "typeVersion": 1,
      "id": "9ef8f378-94d5-4c0d-9ad7-087a17a27de2"
    },
    {
      "parameters": {
        "channel": "woo-commerce",
        "text": ":sparkles: There is a new order :sparkles:",
        "otherOptions": {},
        "attachments": [
          {
            "color": "#66FF00",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Order ID",
                  "value": "={{$json[\"id\"]}}"
                },
                {
                  "short": true,
                  "title": "Status",
                  "value": "={{$json[\"status\"]}}"
                },
                {
                  "short": true,
                  "title": "Total",
                  "value": "={{$json[\"currency_symbol\"]}}{{$json[\"total\"]}}"
                },
                {
                  "short": false,
                  "title": "Link",
                  "value": "={{$node[\"Order Created\"].json[\"_links\"][\"self\"][0][\"href\"]}}"
                }
              ]
            },
            "footer": "=*Ordered:* {{$json[\"date_created\"]}} | *Transaction ID:* {{$json[\"transaction_id\"]}}"
          }
        ],
        "blocksUi": {
          "blocksValues": []
        }
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        820,
        220
      ],
      "typeVersion": 1,
      "id": "8eb77927-f983-472f-87dc-c6f1adc94291"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"total\"]}}",
              "operation": "largerEqual",
              "value2": 100
            }
          ]
        }
      },
      "name": "Price over 100",
      "type": "n8n-nodes-base.if",
      "position": [
        580,
        240
      ],
      "typeVersion": 1,
      "id": "282576c4-1b32-48c9-997e-be2c5e67e306"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-19T19:28:48.320Z",
  "versionId": "71500d7a-999a-44b7-8977-d5a58ded326d"
}