workflows/USDT And TRC20 Wallet Tracker API Workflow for n8n.json
{
  "active": false,
  "connections": {
    "Filter": {
      "main": [
        [
          {
            "node": "Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "TronScan API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TronScan API": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Results": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-20T16:06:18.311Z",
  "id": "t4iW3mtysmjXrv4l",
  "meta": null,
  "name": "USDT And TRC20 Wallet Tracker API Workflow for n8n",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "token_transfers",
        "options": {
          "destinationFieldName": "Transfers"
        }
      },
      "id": "6d80ce75-833e-4565-9b03-0280e29d5b47",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        840,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Format response"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Your Wallet Address",
              "stringValue": "<Your TRC20 Wallet Address here>"
            },
            {
              "name": "Number of transactions to retrieve per request",
              "type": "numberValue",
              "numberValue": "20"
            }
          ]
        },
        "options": {}
      },
      "id": "a6a299cf-4c43-46c1-98a8-e4ce6cd3ca48",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        560,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 3.2,
      "notes": "Wallet Config"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.Transfers.block_ts }}",
              "operation": "smallerEqual",
              "value2": "={{ Date.now() - 900000 }}"
            }
          ],
          "string": [
            {
              "value1": "={{ $json.Transfers.to_address }}",
              "operation": "regex",
              "value2": "={{ $('Edit Fields').item.json['Your Wallet Address'] }}"
            }
          ]
        }
      },
      "id": "e4e91632-bccb-468f-bbb4-a918a5815bbe",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        980,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "notes": "Received in last 15m only"
    },
    {
      "parameters": {
        "content": "## USDT TRC20 Wallet Tracker\n**This workflow** Is a basic concept of integrating your TRC20 wallet with n8n nodes.\n\n",
        "height": 353.65439024390236,
        "width": 1120.1887804878038,
        "color": 4
      },
      "id": "1f9f2f52-bbbe-4d4c-a309-64424f9392c0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://apilist.tronscanapi.com/api/filter/trc20/transfers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ $json['Number of transactions to retrieve'] | '20' }}"
            },
            {
              "name": "start",
              "value": "0"
            },
            {
              "name": "sort",
              "value": "-timestamp"
            },
            {
              "name": "count",
              "value": "true"
            },
            {
              "name": "filterTokenValue",
              "value": "0"
            },
            {
              "name": "relatedAddress",
              "value": "={{ $json['Your Wallet Address']}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:122.0) Gecko/20100101 Firefox/122.0"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.5"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Origin",
              "value": "https://tronscan.org"
            },
            {
              "name": "DNT",
              "value": "1"
            },
            {
              "name": "Connection",
              "value": "keep-alive"
            },
            {
              "name": "Referer",
              "value": "https://tronscan.org/"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "empty"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "cors"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "cross-site"
            },
            {
              "name": "Sec-GPC",
              "value": "1"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {}
          },
          "timeout": 10000
        }
      },
      "id": "31c8c3db-8f48-4cd7-ae1b-9caf579ebb9b",
      "name": "TronScan API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        700,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 4.1,
      "notes": "Request Wallet Status"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Coin",
              "stringValue": "={{ $json.Transfers.tokenInfo.tokenName }} ({{ $json.Transfers.tokenInfo.tokenAbbr }})"
            },
            {
              "name": "Network",
              "stringValue": "={{ $json.Transfers.tokenInfo.tokenType }}"
            },
            {
              "name": "From Address",
              "stringValue": "={{ $json.Transfers.from_address.replace($('Edit Fields').item.json['Your Wallet Address'],\"Your Wallet Address\") || $json.Transfers.from_address_tag.from_address_tag }}"
            },
            {
              "name": "To Address",
              "stringValue": "={{ $json.Transfers.to_address.replace($('Edit Fields').item.json['Your Wallet Address'],\"Your Wallet Address\") }}"
            },
            {
              "name": "Amount",
              "stringValue": "={{ ($('Filter').item.json[\"Transfers\"][\"tokenInfo\"][\"tokenAbbr\"]+' ' + (($json.Transfers.trigger_info.parameter._value || $json.Transfers.quant) / Math.pow(10, $json.Transfers.tokenInfo.tokenDecimal)).toFixed(2)).replace('USDT ','\\$') }}"
            },
            {
              "name": "Record Type",
              "stringValue": "={{ $json.Transfers.event_type }}"
            },
            {
              "name": "Record Status",
              "stringValue": "={{ ($json.Transfers.confirmed+'').replace('true','Confirmed').replace('false','Not confirmed yet.') }}"
            },
            {
              "name": "Transaction Result",
              "stringValue": "={{ $json.Transfers.finalResult.replace('SUCCESS','Received') }}"
            },
            {
              "name": "Record URL",
              "stringValue": "=https://tronscan.org/#/transaction/{{ $json.Transfers.transaction_id }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "d9e1df8b-0bd7-41c4-a4a9-5df909821534",
      "name": "Final Results",
      "type": "n8n-nodes-base.set",
      "position": [
        1140,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 3.2,
      "notes": "Keep only required fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "e6fcf3ba-ac81-49ce-86b5-a51df76dbf00",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        420,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 1.1,
      "notes": "Run Every 15 minutes"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "Transactions",
        "options": {}
      },
      "id": "5149f131-a87e-40ed-88df-7fb0591fe31c",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1320,
        380
      ],
      "notesInFlow": true,
      "typeVersion": 1,
      "alwaysOutputData": false,
      "notes": "Combine records into one list"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-20T16:06:18.311Z",
  "versionId": "a9ce6358-5b2b-4138-a45a-9eaf94a7e433"
}