workflows/Validate email of new contacts in Mautic.json
{
  "active": false,
  "connections": {
    "validate email": {
      "main": [
        [
          {
            "node": "If the email is suspicious",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract information": {
      "main": [
        [
          {
            "node": "validate email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If is not new contact": {
      "main": [
        [],
        [
          {
            "node": "extract information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On Contact Identified": {
      "main": [
        [
          {
            "node": "If is not new contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If the email is suspicious": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-23T15:57:38.669Z",
  "id": "zUfAFtIZO72jAZtp",
  "meta": null,
  "name": "Validate email of new contacts in Mautic",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"mautic.lead_post_save_new\"]}}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "If is not new contact",
      "type": "n8n-nodes-base.if",
      "position": [
        560,
        240
      ],
      "typeVersion": 1,
      "id": "fd5ae19a-deba-4821-b8ad-bf515f231eec"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "events": [
          "mautic.lead_post_save_new"
        ]
      },
      "name": "On Contact Identified",
      "type": "n8n-nodes-base.mauticTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "a3ee0f93-2870-44e2-bb2f-0175433263b3",
      "typeVersion": 1,
      "id": "56b14476-4fc3-4fd7-98cd-e839115a2cbd"
    },
    {
      "parameters": {
        "fieldToSplitOut": "mautic.lead_post_save_new",
        "options": {}
      },
      "name": "extract information",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        760,
        260
      ],
      "typeVersion": 1,
      "id": "9a5209b6-3087-46ce-8335-e707127530c5"
    },
    {
      "parameters": {
        "resource": "utility",
        "emailAddress": "={{$json[\"lead\"][\"fields\"][\"core\"][\"email\"][\"value\"]}}"
      },
      "name": "validate email",
      "type": "n8n-nodes-base.oneSimpleApi",
      "position": [
        960,
        260
      ],
      "typeVersion": 1,
      "id": "1acd7b9f-113e-4852-a70b-22962159ff74"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"deliverability\"]}}",
              "operation": "notEqual",
              "value2": "GOOD"
            }
          ],
          "boolean": [
            {
              "value1": "={{$json[\"is_domain_valid\"]}}"
            },
            {
              "value1": "={{$json[\"is_email_disposable\"]}}",
              "value2": true
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "If the email is suspicious",
      "type": "n8n-nodes-base.if",
      "position": [
        1140,
        260
      ],
      "typeVersion": 1,
      "id": "2c169626-7cfb-4bda-952f-3abb87c855e4",
      "notes": "IF\ndeliverability is not good\nOR\nDomain is not valid\nOR\nEmail is Disposable"
    },
    {
      "parameters": {
        "channel": "#mautic-alerts",
        "text": "=:warning: New Contact with Suspicious Email :warning:\n*Name: * {{$node[\"extract information\"].json[\"contact\"][\"fields\"][\"core\"][\"firstname\"][\"normalizedValue\"]}} {{$node[\"extract information\"].json[\"contact\"][\"fields\"][\"core\"][\"lastname\"][\"normalizedValue\"]}}\n*Email: * {{$node[\"extract information\"].json[\"contact\"][\"fields\"][\"core\"][\"email\"][\"normalizedValue\"]}}\n*Link: * https://mautic.my.domain.com/s/contacts/view/{{$node[\"extract information\"].json[\"contact\"][\"id\"]}}\n*Creator: * {{$node[\"extract information\"].json[\"contact\"][\"createdByUser\"]}}",
        "otherOptions": {},
        "attachments": []
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1340,
        240
      ],
      "typeVersion": 1,
      "id": "670b9a32-25b1-438c-9287-ecd6065d8281"
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-23T15:57:38.669Z",
  "versionId": "4b9478f4-34ff-47dd-9a82-427795c838a3"
}