workflows/wUvQUcV42e93abcr.json
{
  "active": false,
  "connections": {
    "Order Updated": {
      "main": [
        [
          {
            "node": "If Refund and Over 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Refund and Over 100": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "createdAt": "2025-02-07T16:23:37.937Z",
  "id": "wUvQUcV42e93abcr",
  "meta": {
    "templateId": "1460"
  },
  "name": "Notify on Slack when refund is registered in WooCommerce 2",
  "nodes": [
    {
      "parameters": {
        "event": "order.updated"
      },
      "name": "Order Updated",
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "position": [
        380,
        240
      ],
      "webhookId": "f7736be3-e978-4a17-b936-7ce9f8ccdb72",
      "typeVersion": 1,
      "id": "7b40862a-4692-4f2b-b971-8799578dd2e0"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json[\"total\"]}}",
              "operation": "largerEqual",
              "value2": 100
            }
          ],
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "value2": "refunded"
            }
          ]
        }
      },
      "name": "If Refund and Over 100",
      "type": "n8n-nodes-base.if",
      "position": [
        600,
        240
      ],
      "typeVersion": 1,
      "id": "66661241-b7ef-413f-b3dc-488cb20a2200"
    },
    {
      "parameters": {
        "channel": "woo-commerce",
        "text": ":x: A refund has been issued :x:",
        "otherOptions": {},
        "attachments": [
          {
            "color": "#FF0000",
            "fields": {
              "item": [
                {
                  "short": true,
                  "title": "Order ID",
                  "value": "={{$json[\"id\"]}}"
                },
                {
                  "short": true,
                  "title": "Status",
                  "value": "={{$json[\"status\"]}}"
                },
                {
                  "short": true,
                  "title": "Total",
                  "value": "={{$json[\"currency_symbol\"]}}{{$json[\"total\"]}}"
                }
              ]
            },
            "footer": "=*Order updated:* {{$json[\"date_modified\"]}}"
          }
        ],
        "blocksUi": {
          "blocksValues": []
        }
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        840,
        220
      ],
      "typeVersion": 1,
      "id": "6c7b42b9-ca2a-4559-94bd-3a2e043a1ec1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-07T16:23:37.937Z",
  "versionId": "bab85c92-c49c-48ac-897f-fd91044048db"
}