workflows/z3gP9GYyvzKormzM.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "GET TimeEntries - Current",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMTimeEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "lookup_toggl_project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup SM Project": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup SMCliient": {
      "main": [
        [
          {
            "node": "Pass  3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass 1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "lookup SMCliient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Project": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass ": {
      "main": [
        [
          {
            "node": "Find Project",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET TimeEntries - Current",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMTimeEntry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMTimeEntry": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TimeEntries - Current": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "time_entry_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_project": {
      "main": [
        [
          {
            "node": "lookup_toggl_client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lookup SM Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lookup_toggl_client": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Duplicates2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Pass  3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Remove Duplicates2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CreatetimeEntryinSM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Formatting": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreatetimeEntryinSM": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Pass 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "time_entry_id": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Pass ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-18T07:45:02.783Z",
  "id": "z3gP9GYyvzKormzM",
  "meta": null,
  "name": "WF001__Time_entry_is_created_in_Toggl_to_SM_v2_Current_Entries",
  "nodes": [
    {
      "parameters": {},
      "id": "f9a91e1a-45ad-4342-8d1b-d70cf27e33fa",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1121.792786541684,
        380
      ]
    },
    {
      "parameters": {
        "content": "## Reference Toggl",
        "height": 561.3225841707583,
        "width": 2163.3624873713616
      },
      "id": "7932a7a1-aaa3-4f12-803d-92a8c427900a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        360
      ]
    },
    {
      "parameters": {},
      "id": "7ad5f3bf-83ef-471d-987f-6679ff2f14d7",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        747.2072134583159,
        654
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/65b0c1654050e485a501517d/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"sf698fb364\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"sf698fb364\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n}   ",
        "options": {}
      },
      "id": "d7f45e4b-a170-4723-b292-6f4df15ffe74",
      "name": "Lookup SM Project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1212.207213458316,
        754
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9031587b-91d4-4f68-a03b-f102a3d730d6",
              "name": "record_id",
              "value": "={{ $json.items[0].id }}",
              "type": "string"
            },
            {
              "id": "9ba084b6-2aa1-45e3-8ef3-db751dd9eb08",
              "name": "id",
              "value": "={{ $('Filter').item.json.id }}",
              "type": "number"
            },
            {
              "id": "ec7a38f9-7fa2-41bd-91b8-7d5d621f2769",
              "name": "wid",
              "value": "={{ $('Filter').item.json.wid }}",
              "type": "number"
            },
            {
              "id": "e6c4bf93-40fb-463b-90c5-bb3c0c901561",
              "name": "archived",
              "value": "={{ $('Filter').item.json.archived }}",
              "type": "boolean"
            },
            {
              "id": "cb0fdb03-4504-4c4f-8ed8-c07ec9893db2",
              "name": "name",
              "value": "={{ $('Filter').item.json.name }}",
              "type": "string"
            },
            {
              "id": "06881ab8-0210-452d-a273-ffa0db490338",
              "name": "at",
              "value": "={{ $('Filter').item.json.at }}",
              "type": "string"
            },
            {
              "id": "55f0bf3b-884a-4018-9f4c-e6ecb2267616",
              "name": "creator_id",
              "value": "={{ $('Filter').item.json.creator_id }}",
              "type": "number"
            },
            {
              "id": "0d0b9a1f-fda1-4a20-b8cc-e2847e2ac910",
              "name": "permissions",
              "value": "={{ $('Filter').item.json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "63891ef7-e23a-49dc-be19-a86e6392d846",
      "name": "Pass  3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792.207213458316,
        414
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/657c055059b633d6009e1e42/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "3"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sort\": [\n    {\n      \"direction\": \"asc\",\n      \"field\": \"s9c89ee2fe\"\n    }\n  ],\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {\n       \"field\": \"s9c89ee2fe\",\n       \"comparison\": \"is_equal_to\",\n       \"value\": \"{{ $json.id }}\"\n      }\n    ]\n  }\n} ",
        "options": {}
      },
      "id": "e64a1801-a4a6-4d67-93d4-708887ffb588",
      "name": "lookup SMCliient",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1492.207213458316,
        414
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.start }} - {{ $json.description }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"stoplight_status\": \"1\",\n  \"s88e7dacd4\": {\n    \"value\": \"in_progress\"\n  },\n  \"s7e18ac595\": \"{{ $json.billable }}\", \n  \"s388b58221\": \"{{ $json.client_name }}\",\n  \"sf78e2e067\": \"{{ $json.duration }}\",\n  \"sac94990b3\": \"{{ $json.time_entry_id }}\",\n  \"se64e66b7d\": \"{{ $json.pid }}\",\n  \"s104c552d1\": \"{{ $json.project_id }}\",\n  \"sf7335e6da\": \"{{ $json.proj_name }}\",\n  \"s462427aec\": \"{{ $json.workspace_id }}\",\n  \"sa60c2dda1\": \"{{ $json.start }}\",\n  \"sa7b8b841b\": \"{{ $json.stop }}\",\n  \"sa7a9c2140\": \"{{ $json.tags }}\",\n  \"se2afa90b2\": \"{{ $json.tag_ids }}\",\n  \"s8ce8d1b63\": \"{{ $json.duronly }}\",\n  \"s875daacbd\": \"{{ $json.at }}\",\n  \"s160017cbb\": \"{{ $json.server_deleted_at }}\",\n  \"s93e0bbcaa\": \"{{ $json.user_id }}\",\n  \"s5a8e4c60d\": \"{{ $json.uid }}\",\n  \"s4c2ea1202\": \"{{ $json.wid }}\",\n  \"s8e3e58cad\": \"{{ $json.client_id }}\",\n  \"sbca20347b\": \"{{ $json.project_sm_rec_id }}\",\n  \"s4621e0408\": \"{{ $json.client_sm_rec_id }}\"\n}\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 30000
            }
          }
        }
      },
      "id": "8bf9eedd-d826-484e-a9e5-f0e4b01b1294",
      "name": "CreatetimeEntryinSM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2572.207213458316,
        534
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edac2a69-922b-4ae6-b446-77135538cd30",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "6a4f893e-935d-40e1-9d47-42f447baf48f",
              "name": "workspace_id",
              "value": "={{ $json.workspace_id }}",
              "type": "string"
            },
            {
              "id": "2434288c-8868-4d9c-974e-5a4d52264ffc",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "b3321c6c-53b4-4cab-b7cd-ac8631e015b1",
              "name": "billable",
              "value": "={{ $json.billable }}",
              "type": "boolean"
            },
            {
              "id": "d9735093-d7e2-4f68-a91c-71e6b8eb502d",
              "name": "start",
              "value": "={{ $json.start }}",
              "type": "string"
            },
            {
              "id": "22cb8c7e-cf8c-4f47-a0a8-7a545b4d2eb8",
              "name": "stop",
              "value": "={{ $json.stop }}",
              "type": "string"
            },
            {
              "id": "6f7675da-ae62-46ea-bd96-03ebc3e4c1c2",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "fae21602-5447-4d3c-aec7-30d0279c5f8a",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "06fbe186-6946-4005-8b83-e6f250972aa4",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d56eea09-b6eb-4d31-93d7-61aef5e017b9",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "array"
            },
            {
              "id": "d92ac077-7fae-409b-8ab3-74448c420a5e",
              "name": "tag_ids",
              "value": "={{ $json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "0c178e35-c7c7-45e2-844d-f933f2d88a43",
              "name": "duronly",
              "value": "={{ $json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "5064f29c-a084-4f86-9161-ef846ab352eb",
              "name": "at",
              "value": "={{ $json.at }}",
              "type": "string"
            },
            {
              "id": "c477e6cd-f2d7-4be1-a916-cbe6664fdb95",
              "name": "server_deleted_at",
              "value": "={{ $json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "22140dac-6e84-4075-b049-430506352e6e",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "ac6cee6f-5f0b-4e18-b06f-0045f27d5127",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            },
            {
              "id": "1ccc3d98-f005-458a-8a81-b329760126ce",
              "name": "wid",
              "value": "={{ $json.wid }}",
              "type": "number"
            },
            {
              "id": "d76eb227-9508-43ea-9443-97f4d8e5ec9d",
              "name": "pid",
              "value": "={{ $json.pid }}",
              "type": "number"
            },
            {
              "id": "d7e495dd-1775-4e45-9c5e-0a746ec1a4b9",
              "name": "permissions",
              "value": "={{ $json.permissions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fd4c29f8-91b2-4e9c-87d2-133ab7b18191",
      "name": "Pass 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -307.7927865416841,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "08ff3ca5-b4b3-485d-a7f0-995210d56231",
              "leftValue": "={{ $json.id }}",
              "rightValue": "={{ $('lookup_toggl_project').item.json.client_id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "614da89a-88ef-4c3b-9257-33887e06d2b1",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        992.2072134583159,
        414
      ]
    },
    {
      "parameters": {},
      "id": "f7b3d8bd-10b3-4aec-b57f-039c35effb2d",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        1232.207213458316,
        414
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7122793-20cb-4ed8-b704-40e43d29ed22",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "bfd09284-ccce-42cd-ac05-2a5ccf2c1d21",
              "name": "workspace_id",
              "value": "={{ $json.workspace_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3db50070-ae63-4208-bd84-77cc4cb4865a",
      "name": "Find Project",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        487.2072134583159,
        654
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a4f893e-935d-40e1-9d47-42f447baf48f",
              "name": "workspace_id",
              "value": "={{ $json.workspace_id }}",
              "type": "string"
            },
            {
              "id": "2434288c-8868-4d9c-974e-5a4d52264ffc",
              "name": "project_id",
              "value": "={{ $json.project_id }}",
              "type": "string"
            },
            {
              "id": "b3321c6c-53b4-4cab-b7cd-ac8631e015b1",
              "name": "billable",
              "value": "={{ $json.billable }}",
              "type": "boolean"
            },
            {
              "id": "d9735093-d7e2-4f68-a91c-71e6b8eb502d",
              "name": "start",
              "value": "={{ $json.start }}",
              "type": "string"
            },
            {
              "id": "22cb8c7e-cf8c-4f47-a0a8-7a545b4d2eb8",
              "name": "stop",
              "value": "={{ $json.stop }}",
              "type": "string"
            },
            {
              "id": "6f7675da-ae62-46ea-bd96-03ebc3e4c1c2",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "fae21602-5447-4d3c-aec7-30d0279c5f8a",
              "name": "duration",
              "value": "={{ $json.duration }}",
              "type": "number"
            },
            {
              "id": "06fbe186-6946-4005-8b83-e6f250972aa4",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "d56eea09-b6eb-4d31-93d7-61aef5e017b9",
              "name": "tags",
              "value": "={{ $json.tags }}",
              "type": "array"
            },
            {
              "id": "d92ac077-7fae-409b-8ab3-74448c420a5e",
              "name": "tag_ids",
              "value": "={{ $json.tag_ids }}",
              "type": "array"
            },
            {
              "id": "0c178e35-c7c7-45e2-844d-f933f2d88a43",
              "name": "duronly",
              "value": "={{ $json.duronly }}",
              "type": "boolean"
            },
            {
              "id": "5064f29c-a084-4f86-9161-ef846ab352eb",
              "name": "at",
              "value": "={{ $json.at }}",
              "type": "string"
            },
            {
              "id": "c477e6cd-f2d7-4be1-a916-cbe6664fdb95",
              "name": "server_deleted_at",
              "value": "={{ $json.server_deleted_at }}",
              "type": "string"
            },
            {
              "id": "22140dac-6e84-4075-b049-430506352e6e",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "number"
            },
            {
              "id": "ac6cee6f-5f0b-4e18-b06f-0045f27d5127",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            },
            {
              "id": "1ccc3d98-f005-458a-8a81-b329760126ce",
              "name": "wid",
              "value": "={{ $json.wid }}",
              "type": "number"
            },
            {
              "id": "d76eb227-9508-43ea-9443-97f4d8e5ec9d",
              "name": "pid",
              "value": "={{ $json.pid }}",
              "type": "number"
            },
            {
              "id": "d7e495dd-1775-4e45-9c5e-0a746ec1a4b9",
              "name": "permissions",
              "value": "={{ $json.permissions }}",
              "type": "string"
            },
            {
              "id": "ed38db3f-ad8a-41fb-9b9d-61d921d56e2f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f02023c2-2f8b-4f64-b3fb-902f94d97e46",
      "name": "Pass ",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        332.2072134583159,
        540
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "11974b1d-0695-40b9-8da3-66242cf57347",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1107.792786541684,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.smartsuite.com/api/v1/applications/668ecb995b7d04577b9a4190/records/list/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "offet",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 1a0df485ce520ec8d8e999727c53c09ef809b097"
            },
            {
              "name": "ACCOUNT-ID",
              "value": "swexdc6g"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"operator\": \"and\",\n    \"fields\": [\n      {        \n        \"field\": \"first_created\",\n        \"comparison\": \"exact_date\",\n        \"value\": {\n          \"date_mode\": \"is_on_or_after\",\n          \"date_mode_value\": \"{{ $today.set({ day: 1 }).toISODate() }}\"\n        }\n      }        \n    ]\n  }\n}",
        "options": {}
      },
      "id": "de2cd984-9858-4ca5-8ad1-19d5297b9b96",
      "name": "SMTimeEntry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -807.7927865416841,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://api.track.toggl.com/api/v9/me/time_entries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic fad219efdf49dddd14880e6923f32cad"
            }
          ]
        },
        "options": {}
      },
      "id": "520324b7-24f4-4cd3-8883-537bca822d1a",
      "name": "GET TimeEntries - Current",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -827.7927865416841,
        560
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "include": "selectedOtherFields",
        "fieldsToInclude": "items",
        "options": {}
      },
      "id": "12a7c63a-8ae9-4437-9e3b-4b36c49c22d2",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -567.7927865416841,
        380
      ]
    },
    {
      "parameters": {
        "content": "## New Time Entry\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 108.79114802564072,
        "width": 435.36850445970504
      },
      "id": "f7a274e1-dd15-4aa0-a835-09b1c9e51c63",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2507.792786541684,
        380
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/projects/{{ $json.project_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "4df0be66-dfbd-4f28-9f65-b1e1c673fb64",
      "name": "lookup_toggl_project",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        952.2072134583159,
        654
      ]
    },
    {
      "parameters": {
        "url": "=https://api.track.toggl.com/api/v9/workspaces/{{ $json.workspace_id }}/clients",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "aff00d9b-23ac-46d7-85fb-af09fbff30bb",
      "name": "lookup_toggl_client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        712.2072134583159,
        414
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "=items",
        "include": "selectedOtherFields",
        "fieldsToInclude": "items[0].id, items[0].sf698fb364",
        "options": {}
      },
      "id": "89a022c1-dae8-4414-aa5d-e41764ea0df4",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1452.207213458316,
        754
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cf490ee-7f09-43c8-a76e-d6a3e9bb2388",
              "name": "sm_id",
              "value": "={{ $json['items[0].id'] }}",
              "type": "string"
            },
            {
              "id": "add3b906-5fff-471c-92f2-e68827095892",
              "name": "sm_time_entry",
              "value": "={{ $json['items[0].sf698fb364'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1f929ad5-2f0e-4e59-a5a7-f4de47b85561",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1672.207213458316,
        754
      ]
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {}
      },
      "id": "c4c23b4b-d92b-405d-9c66-84cbd53055e8",
      "name": "Remove Duplicates2",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1.1,
      "position": [
        2112.207213458316,
        674
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": " WITH \n  project_det AS (\n    SELECT * \n    FROM input2\n  ),\n  project_ref AS (\n    SELECT *\n    FROM input1\n  )\nSELECT\n  project_ref.*,\n  project_det.*\n\nFROM \n  project_ref\nLEFT JOIN \n  project_det \nON \n  cast(project_det.id as TEXT) = cast(project_ref.sf698fb364 as text);\n"
      },
      "id": "960af3cc-d6f9-4b26-829f-f86dcae3afc0",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1932.207213458316,
        674
      ]
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 3,
        "query": "WITH \n  time_entry  AS\n  (\n  select * from input2\n  )\n  ,project as \n  (\n  select * from input3\n  )\n  ,client AS\n  (\n  select * from input1\n  )\nselect \n  project.sm_id as project_sm_rec_id,\n  project.name as proj_name,\n  client.record_id as client_sm_rec_id,\n  client.id as client_id,\n  client.name as client_name,\n  time_entry.id as time_entry_id,\n  time_entry.*\nfrom time_entry\n  left join project on project.id = time_entry.project_id\n  left join client on client.id = project.client_id"
      },
      "id": "fa37a3b9-be18-4ca9-bfbe-033ec1ab498b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2312.207213458316,
        540
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07BLFDL917",
          "mode": "list",
          "cachedResultName": "toggl-time-captured"
        },
        "text": "={{ $json[\"message\"] }}",
        "otherOptions": {}
      },
      "id": "98528d6f-db37-4e98-85f7-38aa864d8770",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3212.207213458316,
        434
      ]
    },
    {
      "parameters": {
        "channelId": "jpqr5pw497dxf8kirt96t4ar5r",
        "message": "{{ $json[\"message\"] }}",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "888727b6-7e9e-4226-8a7d-4a4ecfec0620",
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        3212.207213458316,
        634
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "sf7335e6da"
            },
            {
              "fieldToAggregate": "status"
            },
            {
              "fieldToAggregate": "s2e7d2b64e"
            },
            {
              "fieldToAggregate": "se6d1375cc"
            },
            {
              "fieldToAggregate": "s6e80240de"
            },
            {
              "fieldToAggregate": "s388b58221"
            },
            {
              "fieldToAggregate": "description.data.content[0].content[0].text"
            }
          ]
        },
        "options": {}
      },
      "id": "db5cafe6-b792-47ed-a2fa-aaa02e53badb",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2812.207213458316,
        534
      ]
    },
    {
      "parameters": {
        "jsCode": "// Assuming 'AggregatedData' is the name of the node with the aggregated data\nconst aggregatedData = $node[\"Aggregate\"].json;\n\n// Prepare the message\nlet message = 'Hi Team,\\n\\nNew time entries are ready for review. Here are the details:\\n\\n';\n\nconst dates = [...new Set(aggregatedData.s2e7d2b64e)];\n\ndates.forEach(date => {\n  message += `*Date:* ${date}\\n`;\n  message += `*Client:* ${aggregatedData.s388b58221[0]}\\n`;\n   message += '\\n\\n';\n  message += '```\\n';  // Start block quote for grey frame\n  message += 'Title                      | Status               | Worked Hours  | Description\\n';\n  message += '---------------------------|----------------------|---------------|----------------------------------------------\\n';\n  \n  aggregatedData.s2e7d2b64e.forEach((entryDate, index) => {\n    if (entryDate === date) {\n      const title = aggregatedData.title[index].padEnd(27, ' ');\n      const status = aggregatedData.status[index].value.padEnd(20, ' ');\n      const hours = aggregatedData.se6d1375cc[index].toString().padEnd(13, ' ');\n      const description = aggregatedData.text[index];\n      message += `${title}| ${status} | ${hours} | ${description}\\n`;\n    }\n  });\n  message += '```\\n\\n';  // End block quote for grey frame\n});\n\nmessage += '\\nPlease review these entries at your earliest convenience.\\nThank you!\\n';\n\nreturn [\n  {\n    json: {\n      message: message\n    }\n  }\n];"
      },
      "id": "d457a889-d7c5-45ba-95cb-8bbd6a4a4456",
      "name": "Message Formatting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3012.207213458316,
        534
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a6672e45-f600-4618-9081-1faefe9e7dd4",
              "leftValue": "={{ $json.stop }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "938978af-7d54-4171-905d-082de437b5eb",
              "leftValue": "={{ $json.start }}",
              "rightValue": "={{ $today.set({ day: 1 }).toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "284135f6-ecdc-43e4-a68d-61914c5ceb24",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -587.7927865416841,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop through each item in the array\nconst results = [];\n\nfor (let item of $json.items) {\n  results.push({\n    time_id: item.sac94990b3, // or you can use dynamic access like item[\"sac94990b3\"]\n    // add more fields here if necessary, for example:\n    field2: item.field2,\n    field3: item.field3,\n  });\n}\n\n// Return the modified array\nreturn results;"
      },
      "id": "9b65e715-7b63-4d3f-ae32-a29265b23171",
      "name": "time_entry_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -287.7927865416841,
        380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ff8c758-d4e7-4cb6-afa7-11271d44b8b5",
              "name": "time_id",
              "value": "={{ $json.time_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "f41c4a08-df2b-490a-94f0-03e77794d164",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -67.79278654168411,
        380
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "time_id",
              "field2": "id"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "id": "90b99074-f5ca-4542-b27e-311e6a698a3f",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        132.2072134583159,
        540
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-18T07:45:02.783Z",
  "versionId": "d0b86eab-3bac-46bc-ab23-402b80cd453d"
}